<!DOCTYPE html>
{% extends 'crisis/base.html' %}
{% load static %}
{% block body_block %}
<div class="jumbotron">
  {% if b == "1" %}
    <button onclick="location.href='{% url 'notify1' %}'"type="button" name="button" class="btn btn-primary">Send Notification</button>
  {% else %}
    <button onclick="location.href='{% url 'notify2' %}'"type="button" name="button" class="btn btn-primary">Send Notification</button>
  {% endif %}
  <br>
  <br>
  <img src="{% static img %}" alt="">
  <br>
  <br>

</div>

{% endblock %}
